<div class="flex justify-between items-center">
  <div class="flex items-center">
    @if (meta().title || name(); as title) {
      <div class="py-1">
        @if(required()) {
          <span class="text-text-destructive">*</span>
        }
        {{title | i18n}}
      </div>
    }
    @if (hasCustomWidget()) {
      @if (meta().description; as desc) {
        <i class="ri-information-line ml-2 text-text-tertiary hover:text-text-primary opacity-80"
          [matTooltip]="desc | i18n"
          matTooltipPosition="above"></i>
      }
    }
    @if (xUiHelp(); as helpUrl) {
      <a class="inline-flex items-center ml-2 text-sm text-text-tertiary opacity-80 hover:text-primary-500 hover:underline"
        [href]="helpUrl | i18n" target="_blank" rel="noopener noreferrer">
        <i class="ri-book-open-line"></i>
      </a>
    }
  </div>

  @if (type() === 'array' && !enum() && !hasCustomWidget()) {
    <button class="btn btn-small justify-center w-6 h-6" (click)="addArray()">
      <i class="ri-add-line"></i>
    </button>
  }
</div>

@if (hasCustomWidget()) {
  <xp-json-schema-widget-outlet
    [name]="xUiComponent()"
    [schema]="schema()"
    [xUi]="xUi()"
    [ngModel]="value$()"
    (ngModelChange)="update($event)"
    [readonly]="readonly()"
    [required]="required()"
    [variables]="variables()"
    [context]="context()"
  />
} @else {
  @switch (xUiComponent()) {
    @case ('remoteSelect') {
      <ngm-remote-select class="w-full h-9" [url]="xUi().selectUrl"
        [placeholder]="((meta().description || meta().title || '' ) | i18n) + (required() ? '' : '(' + ('PAC.KEY_WORDS.Optional' | translate: {Default: 'Optional'}) + ')' )"
        [(ngModel)]="value$"
      />
    }
    @default {
      @if (enum()) {
        <ngm-select class="w-full h-9" [selectOptions]="enumOptions()" [placeholder]="((meta().description || meta().title || '' ) | i18n) + (required() ? '' : '(' + ('PAC.KEY_WORDS.Optional' | translate: {Default: 'Optional'}) + ')' )" [(ngModel)]="value$"
          [multiple]="type() === 'array'"
        />
      } @else {
        @switch (type()) {
          @case ('string') {
            @switch (xUiComponent()) {
              @case ('textarea') {
                <textarea
                  class="w-full px-3 py-1 text-sm whitespace-nowrap text-gray-900 border-0 rounded-lg h-10 min-h-[36px] bg-gray-100 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-gray-200"
                  [placeholder]="((meta().description || meta().title || '' ) | i18n) + (required() ? '' : '(' + ('PAC.KEY_WORDS.Optional' | translate: {Default: 'Optional'}) + ')' )"
                  type="text"
                  [disabled]="readonly()"
                  [ngModel]="value$()"
                  (ngModelChange)="update($event)"
                ></textarea>
              }
              @default {
                @if (variables()) {
                  <xpert-variable-input class="w-full px-2 py-1 text-gray-900 border-0 rounded-lg bg-gray-100 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-gray-200"
                    [placeholder]="((meta().description || meta().title || '' ) | i18n) + (required() ? '' : '(' + ('PAC.KEY_WORDS.Optional' | translate: {Default: 'Optional'}) + ')' )"
                    [disabled]="readonly()"
                    [variables]="variables()"
                    [ngModel]="value$()"
                    (ngModelChange)="update($event)"
                  />
                } @else {
                  <input
                    class="w-full px-3 text-sm leading-9 text-gray-900 border-0 rounded-lg h-9 bg-gray-100 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-gray-200"
                    [placeholder]="((meta().description || meta().title || '' ) | i18n) + (required() ? '' : '(' + ('PAC.KEY_WORDS.Optional' | translate: {Default: 'Optional'}) + ')' )"
                    [type]="xUiInputType()"
                    [disabled]="readonly()"
                    [ngModel]="value$()"
                    (ngModelChange)="update($event)"
                  />
                }
              }
            }
          }
          @case ('textarea') {
            <textarea
              class="w-full px-3 py-1 text-sm whitespace-nowrap text-gray-900 border-0 rounded-lg h-10 bg-gray-100 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-gray-200"
              [placeholder]="((meta().description || meta().title || '' ) | i18n) + (required() ? '' : '(' + ('PAC.KEY_WORDS.Optional' | translate: {Default: 'Optional'}) + ')' )"
              type="text"
              [disabled]="readonly()"
              [ngModel]="value$()"
              (ngModelChange)="update($event)"
            ></textarea>
          }
          @case ('number') {
            <input
              class="w-full px-3 text-sm leading-9 text-gray-900 border-0 rounded-lg h-9 bg-gray-100 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-gray-200"
              [placeholder]="((meta().description || meta().title || '' ) | i18n) + (required() ? '' : '(' + ('PAC.KEY_WORDS.Optional' | translate: {Default: 'Optional'}) + ')' )"
              type="number"
              [disabled]="readonly()"
              [ngModel]="value$()"
              (ngModelChange)="update($event)"
            />
          }
          @case ('integer') {
            <input
              class="w-full px-3 text-sm leading-9 text-gray-900 border-0 rounded-lg h-9 bg-gray-100 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-gray-200"
              [placeholder]="((meta().description || meta().title || '' ) | i18n) + (required() ? '' : '(' + ('PAC.KEY_WORDS.Optional' | translate: {Default: 'Optional'}) + ')' )"
              type="number"
              [disabled]="readonly()"
              [ngModel]="value$()"
              (ngModelChange)="update($event)"
            />
          }
          @case ('array') {
            <div class="flex flex-col gap-1">
              @for (item of value$(); track i; let i = $index) {
                <div class="relative flex group/item border border-solid border-transparent rounded-lg"
                  [class.!border-text-destructive]="item?.__hover__">
                  <json-schema-property class="flex-1 overflow-hidden"
                    [schema]="arraySchema().items"
                    [ngModel]="item"
                    (ngModelChange)="updateArray(i, $event)"
                  />
                  <div class="relative shrink-0 px-1 w-0 group-hover/item:w-8">
                    <button class="btn btn-small danger flex justify-center items-center w-6 h-6 absolute top-1/2 -translate-y-1/2 opacity-0 group-hover/item:opacity-100 z-20"
                      (click)="removeArray(i)"
                      (mouseenter)="item && (item.__hover__=true)"
                      (mouseleave)="item && (item.__hover__=false)"
                    >
                      <i class="ri-delete-bin-line"></i>
                    </button>
                  </div>
                </div>
              } @empty {
                <div class="flex justify-center text-sm rounded-lg p-2 text-text-secondary bg-neutral-50">
                  {{ 'PAC.KEY_WORDS.AddItem' | translate: { Default: 'Add Item' } }}
                </div>
              }
            </div>
          }
          @case ('boolean') {
            <ngm-slide-toggle [disabled]="readonly()"
              [ngModel]="value$()"
              (ngModelChange)="update($event)" 
            >
              @if (meta().description) {
                <i class="ri-information-line ml-2 text-text-tertiary hover:text-text-primary opacity-80"
                  [matTooltip]="meta().description | i18n"></i>
              }
            </ngm-slide-toggle>
          }
          @case ('object') {
            <div class="rounded-lg border border-divider-regular px-2">
              @for (param of properties(); track param.name) {
                <json-schema-property class="mb-1" [schema]="param" [name]="param.name"
                  [required]="isRequired(param.name)"
                  [variables]="variables()"
                  [ngModel]="value$()?.[param.name]"
                  (ngModelChange)="updateValue(param.name, $event)" 
                />
              }
            </div>
          }
          @default {
            @if (type()) {
              <div>Unsupported type: {{type()}} for '{{name()}}'</div>
            } @else {
              @if (variables()) {
                <xpert-variable-input class="w-full px-2 py-1 text-gray-900 border-0 rounded-lg bg-gray-100 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-gray-200"
                  [placeholder]="((meta().description || meta().title || '' ) | i18n) + (required() ? '' : '(' + ('PAC.KEY_WORDS.Optional' | translate: {Default: 'Optional'}) + ')' )"
                  [disabled]="readonly()"
                  [variables]="variables()"
                  [ngModel]="value$()"
                  (ngModelChange)="update($event)"
                />
              } @else {
                <input
                  class="w-full px-3 text-sm leading-9 text-gray-900 border-0 rounded-lg h-9 bg-gray-100 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-gray-200"
                  [placeholder]="((meta().description || meta().title || '' ) | i18n) + (required() ? '' : '(' + ('PAC.KEY_WORDS.Optional' | translate: {Default: 'Optional'}) + ')' )"
                  [type]="xUiInputType()"
                  [disabled]="readonly()"
                  [ngModel]="value$()"
                  (ngModelChange)="update($event)"
                />
              }
            }
          }
        }
      }
    }
  }
}
